body,html {
	height: auto;
}

body {
  background-color: #EFE793;
}

#map { 
	height: calc(100vh - 100px);
	z-index: 100;
	margin: 0.1px;
}

.marker-info {
	span {
		font-weight: bold;
	}

	.Select {
		width: 200px;
		display: inline-block;
	}

	margin-top: 30px;
	
	input {
		width: 200px;
	}

	.marker-number {
		font-size: 22px;
		margin-bottom: 10px;
	}
}

img {
   image-orientation: from-image;
}

.marker-popup {
	width: 200px;
	height: 200px;
}

.ui.stackable.inverted.menu {
	background-color: #F4B070;
}

.ui.menu>.ui.container {
	margin: 0!important;
}

.header-nav a.item {
	&:hover {
		background: rgba(220, 102, 89, 0.85) !important;
	}
}

.bounds.logo {
	width: 100px !important;
}

.ui.raised.segment.map {
	background: #DC6659;
	padding: 0.4em;
	border: 0!important;
	margin-left: 6px !important;
	margin-right: 6px !important;
	width: auto;
}
