html {
  height: inherit;
  min-height: 100vh;
}

body {
  height: 100%;
  min-height: 100vh;
}

#map { 
	height: calc(100vh - 100px);
}

.marker-info {
	span {
		font-weight: bold;
	}

	.Select {
		width: 200px;
		display: inline-block;
	}

	margin-top: 30px;
	
	input {
		width: 200px;
	}

	.marker-number {
		font-size: 22px;
		margin-bottom: 10px;
	}
}

img {
   image-orientation: from-image;
}