body,html {
	height: auto;
}

body {
  background-color: #808080;
}

.main.container {
	margin-top: 25px!important;
}

#map { 
	height: calc(100vh - 100px);
	z-index: 100;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(34,36,38,.5),0 2px 10px 0 rgba(34,36,38,.5);
}

.marker-info {
	span {
		font-weight: bold;
	}

	.Select {
		width: 200px;
		display: inline-block;
	}

	margin-top: 30px;
	
	input {
		width: 200px;
	}

	.marker-number {
		font-size: 22px;
		margin-bottom: 10px;
	}
}

img {
   image-orientation: from-image;
}

.marker-popup {
	width: 200px;
}

.ui.stackable.inverted.menu {
	background-color: #1f1f1f;
	border-radius: 0;
}

.ui.menu>.ui.container {
	margin: 0!important;
}

.header-nav a.item {
	&:hover {
		background: rgba(220, 102, 89, 0.85) !important;
	}
}

.bounds.logo {
	width: 100px !important;
}

.marker-stupid-map {
	padding: 0em;
	border: 0!important;
	margin-left: 21px !important;
	margin-right: 6px !important;
	width: auto;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	color: black;
	font-weight: 600; 
	font-size: 16px;
	text-align: center;
}

.leaflet-popup-content {
	margin: 10px 1px;
}

.leaflet-container a.leaflet-popup-close-button {
	padding: 5px 20px 0 0;
	color: #fff;	
}

.ui.animated.button {
	background: #DC6659;
	color: #fff;	
}

.right.arrow.icon {
	color: #fff;
}

.popup-img {
	height: 150px;
	width: 150px;
	margin: 0 auto;
}

.boundaries-select {
	width: 30%;
	box-sizing: border-box;
	float: left;	
	border-radius: 10px;
	margin-left: 6px;
	box-shadow: 0 2px 4px 0 rgba(34,36,38,.5),0 2px 10px 0 rgba(34,36,38,.5);
}

#map {
	width: 70%;
	box-sizing: border-box;
	float: right;
}

.ui.checkbox a {
	cursor: pointer;
}

.info.icon {
	display: inline-block;
	color: #dc6659;
	font-weight: bold;
}

.ui.checkbox .box, .ui.checkbox label {
	display: inline-block;
}